<div class="fixed-background" style="margin-bottom: 360px;">
  <div class="col text-center" style="margin-top: 80px; ">
    <img src="https://cdn.discordapp.com/attachments/1026870373700083732/1029786860471464026/Group_26.png" height="50%"
      width="50%" />
  </div>
  <div class="container" style="display: flex; justify-content:center; margin-top: 30px;">
    <div class="row">
      <div class="card" style="background-color: rgba(128, 128, 128, 0.25); padding: 10px; margin: 10px;">
        <a href="/signup" style="color:white" class="btn">Sign up</a>
      </div>
      <div class="card" style="background-color: rgba(128, 128, 128, 0.25); padding: 10px; margin: 10px;">
        <a href="/signin" style="color:white" class="btn">Sign in</a>
      </div>
    </div>
  </div>

</div>