div{
    background-color: #E1EDBD;
    color: black;
    margin-top: 30px
}


button{
    width: 100px;
}

thead,
tfoot {
    background-color: #426D54;
    color: #fff;
}

tbody {
    background-color: #82b068b7;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 20px;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

td {
    text-align: center;
}


