<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">My profile</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <img [src]="currentProfile.picture" class="img-thumbnail" alt="Your Image">
                <p>Username: {{currentProfile.username}}</p>
                <p>{{currentProfile.title+". "+currentProfile.name}}</p>
                <p>Sex: {{currentProfile.sex}}</p>
                <p>Email: {{currentProfile.email}}</p> 
                <p>Tel: {{currentProfile.phonenumber}}</p> 
                <p>{{2022-currentProfile.birthyear}} years old</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" (click)=onClickLogout() class="btn btn-secondary" data-dismiss="modal">Logout</button>
            </div>

        </div>
    </div>
</div>