<div class="fixed-background" >
    <img src="https://i.im.ge/2022/10/15/2D6ArK.user.png" height="5%" width="5%" />
    <img src="https://cdn.discordapp.com/attachments/1026870373700083732/1029786860471464026/Group_26.png" height="100%"
        width="100%" />
        <div class="d-flex justify-content-around py-3">
    <div class="card col-md-6" style="text-align:center">
        <br /><br />
        <div>
            <label>Username : </label>
            <input type="text" placeholder="Enter Username" name="username" required>
        </div>

        <div>
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" name="password" required>
        </div>

        <div><button type="submit">Login</button></div>
        <br />

    </div>
        </div>
        <br/><br/><br/>

</div>