<div class="fixed-background" >
    <img src="https://i.im.ge/2022/10/15/2D6ArK.user.png" height="5%" width="5%" />
    <p style="text-align:center;">
    <img src="https://cdn.discordapp.com/attachments/1026870373700083732/1029786860471464026/Group_26.png" height="80%"
        width="80%"/>/p>
        <div class="d-flex justify-content-around py-3">
    <div class="card col-md-6" style="text-align:center" [formGroup]="loginForm">
        <br /><br />
        <p style="text-align:center">
            "username":"Monkey_za007",
            "password":"monkey1234"
          </p>
        <div>
            <label>Username : </label>
            <input type="text" placeholder="Enter Username" formControlName="username" required>
        </div>
        <div>
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" formControlName="password" required>
        </div>

        <div class="row d-flex justify-content-around py-2">
            <div style="text-align:right" class="col-sm-6"><button type="button" routerLink="/home">Back</button></div>
                <div style="text-align:left" class="col-sm-6"><button type="submit" (click)="onClickLogin()">Login</button></div>
          
        </div>
        
        
        <br />

    </div>
        </div>
        <br/><br/><br/>

</div>
