<div class="card" style="background-color: black;">
    <div class="row">
        <div class="col-lg-6" style="margin-top: 60px">
            <p class="col-lg-12 text-left" style="font-size: 35px; margin: 20px 0 0 30px;">
                Play Count Server : {{this.count}}
            </p>
        </div>
        <div class="col-lg-6 text-right" style="margin-top: 60px;">
            <a href="#" class="btn" data-toggle="modal" data-target="#myModal">
                <a style="margin-right: 20px; font-size: 35px; color: white;">{{this.user.username}}</a>
                <img id="profile" [src]="'https://i.im.ge/2022/10/15/2D6ArK.user.png'" class="img-thumbnail"
                    alt="Your Image">
            </a>
        </div>
    </div>
</div>

<div class="card" style="background-color: black;  margin-left: 100px;">
    <div class="row">
        <div class="col-md-3 text-center" style="margin-top: 10px; margin-left: 50px;">
            <img id="img1"
                [src]="'https://cdn.discordapp.com/attachments/1026870373700083732/1029786860471464026/Group_26.png'"
                alt="Your Image" style="max-height: 500px ;max-width: 500px;">
        </div>
        <div style="margin: 30px 0 0 200px; font-size: 35px;">
            <p>สวัสดี {{this.user.username}} พร้อมที่จะเล่นเกมหรือยัง?!</p>
            <div>
                <input id="img2" type="text" [(ngModel)]="searchText" placeholder="search ...."
                    style="width: 500px; height:auto; font-size: 3.5vmin;">

                <button class="fa fa-search fa-xs" aria-hidden="true" style="position: relative;
                               bottom: 6px;
                               left: 12px;    
                               width: 80px;
                               height: 50px;">
                </button>
            </div>
            <div style="font-size: 27px; margin-top: 30px;">
                <a style="position: relative;top: 15px;">หรือสร้างเกมใหม่ของคุณได้ที่นี้</a>
                <button style="height: 70px;width: 160px;margin-left: 15px;" [routerLink]="'/newquiz'">New QUIZ</button>
            </div>
            <br>
        </div>
    </div>
    <table *ngIf="(quiz | filter: searchText).length > 0 ;else noResults">
        <p class="col-lg-12 text-left" style="font-size: 50px;">
            {{ShowTypeDisplay()}}
        </p>
        <div class="d-flex justify-content-center">
            <div class="row" style="width:100%;height: 850px; overflow-y: scroll;">
                <div class="col-lg-2 text-center" *ngFor="let item of quiz | filter: searchText let j = index">
                    <div class="row" style="padding-top: 30px;">
                        <div class="col text-center" style="width:250px ;height: 250px; ">
                            <p class="avoid-clicks">{{item.quiz.length}} Qestion</p>
                            <img id="img2" type="image" title={{item.quizName}}
                                style="object-fit: cover;margin-top: 30px;width: 90%; height: 80%;"
                                (click)="editQuiz(j)" [src]="item.img || 'https://i.ibb.co/8DV5mBH/unnamed.jpg'">
                        </div>
                    </div>
                    <div class="row">
                        <p class="col text-center" title={{item.quizName}} style="font-size: 2vmin;">
                            {{item.quizName}}
                        </p>
                    </div>
                    <div class="row">
                        <p class="col text-center" style="font-size: 2vmin; color: gray;">
                            create on {{(item.datetime)}}
                        </p>
                    </div>
                    <div class="row">
                        <p class="col text-center" style="font-size: 2vmin; color: green;">
                            play count : {{item.count}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </table>
    <ng-template #noResults>
        <p *ngIf="quiz" style="padding: 50px;font-size: 25px;">No results found for "{{searchText}}".</p>
        <p *ngIf="!quiz" style="padding: 50px;font-size: 25px;">No quiz right now, let's create your own quiz!!</p>
    </ng-template>
    <div class="col text-left" style="background-color: black; ">
        <form [formGroup]="productForm">
            <div class="row">
                <p class="col-lg-12 text-center">
                    <textarea rows="6" cols="80" formControlName='comment' maxlength="999"
                        style="margin-left: 110px; font-size: 3vmin;"></textarea>
                    <button type="button" class="btn btn-success btn-lg" (click)="addComment()"
                        [disabled]="!productForm.valid"
                        style="position: relative;bottom: 30px;right: 135px;">Comment</button>
                </p>
            </div>
        </form>
        <div class="row" style="margin: 70px 0 250px 0; height: 700px;overflow-y: scroll;">
            <div class="col-lg-3 text-left" *ngFor="let item of comment | filter: mycomment let k = index"
                style="padding-left: 40px ">
                <div class="row" type="button">
                    <!-- <h2 id="mycomment" style="margin-top: 35px; width: 15vmax; border-bottom-left-radius: 0;"
                        title="User"><i class="fa fa-user-o" aria-hidden="true" 
                            style="color: rgb(55, 202, 50);"></i> xxx</h2> -->
                    <h2 id="mycomment" style="margin-top: 35px; width: 15vmax; border-bottom-left-radius: 0;"
                        title="User"><i class="fa fa-user-o" aria-hidden="true" *ngIf="item.owner == this.user.username"
                            style="color: rgb(55, 202, 50);"></i> {{this.item.owner}}</h2>
                </div>
                <div class="row">
                    <textarea rows="5" cols="35" disabled
                        style="margin-top: 70px;resize: none;background-color: rgb(50,50,50); color: white; font-size: 2vmin;border-top-left-radius: 0;">{{item.comment}}</textarea>
                </div>
            </div>
        </div>
    </div>

    <app-profilemodal></app-profilemodal>