<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink="home" class="navbar-brand btn btn-dark"><i class="fa fa-home" aria-hidden="true"></i></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a routerLink="newquiz" routerLinkActive="active" class="btn btn-dark">newquiz</a>
        </li>
        <li class="nav-item">
          <a routerLink="quiz" routerLinkActive="active" class="btn btn-dark">quiz</a>
        </li>
        <!-- <li class="nav-item">
            <a routerLink="test" routerLinkActive="active" class="btn btn-dark">test</a>
        </li> -->
      </ul>
    </div>
    <!-- <a routerLink="cart" class="btn btn-dark">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart 
      <span class="badge badge-info"></span>
    </a> -->
</nav>