<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <i class="fa fa-play btn-lg" aria-hidden="true" style="color: white;">&nbsp; G4</i>
    &nbsp;
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a routerLink="quiz" routerLinkActive="active" class="btn btn-dark">Quiz</a>
        </li>
        <li class="nav-item">
          <a routerLink="newquiz" routerLinkActive="active" class="btn btn-dark">New Quiz</a>
        </li>
        <li class="nav-item">
          <a routerLink="myquiz" routerLinkActive="active" class="btn btn-dark">My Quiz</a>
        </li>
        <li class="nav-item">
          <a routerLink="history_playing" routerLinkActive="active" class="btn btn-dark">Play History</a>
        </li>
        <li class="nav-item">
          <a routerLink="history" routerLinkActive="active" class="btn btn-dark">Rating History</a>
        </li>
      </ul>
    </div>
</nav>