
<div class="container mt-5">
    <div class="col-md-4" style="margin: auto;">
        <img src='https://cdn.discordapp.com/attachments/1026870373700083732/1029786860471464026/Group_26.png'
            class="img-thumbnail" alt="Your Image">
    </div>

</div>
<br>
<ng-container *ngIf="true">
    <div class="card">
        <div class="d-flex justify-content-around py-3">
            <h1>{{this.Allquiz.quizName}}</h1>
        </div>
        <div class="d-flex justify-content-around py-3">
            <div class="score">
                <h5>{{correctAnswer}} Points</h5>
            </div>
            <div class="question-remain">
                <h5> Qestion {{this.nextQuestion+1}}/{{this.Allquiz.quiz.length}}</h5>
            </div>
            <div class="timer">
                <h5>{{counter}} sec ⏱</h5>
            </div>
        </div>
        <div class="d-flex justify-content-around py-3">
            <div class="question">
                <h2>{{quiz[0].quiz[0].question}}</h2>
            </div>
        </div>
    </div>
    <div>
    </div>

    <div class="card">
        <div class="d-flex justify-content-around py-3">
            <h2>{{this.quiz.question}}</h2>
            <!-- <img src="https://img.icons8.com/color/96/000000/angularjs.png" width="90" alt="logo"> -->
        </div>
    </div>

    <div class="card">
        <div class="col-lg-12 text-center">
            <div>
                <button id="button1" (click)="answer(1)">{{this.quiz.choice1}}</button>
            </div>
            <div>
                <button id="button1" (click)="answer(2)">{{this.quiz.choice2}}</button>
            </div>
            <div>
                <button id="button1" (click)="answer(3)">{{this.quiz.choice3}}</button>
            </div>
            <div>
                <button id="button1" (click)="answer(4)">{{this.quiz.choice4}}</button>
            </div>
        </div>
    </div>


</ng-container>

<ng-container *ngIf="isQuizCompleted">
    <app-result [correctAnswer]="correctAnswer"></app-result>
</ng-container>



  <!-- <li (click)="answer(currentQuestion+1,option)">
                <div appChangeBg [isCorrect]="option.correct" class="card">
                    {{option.text}}
                </div>
            </li> -->